@font-face {
  font-family: 'overwatch';
  src: url('/assets/fonts/koverwatch.ttf');
}

body {
  overflow: hidden;
  height: 100vh;
  margin: 0;
  font-family: 'overwatch';
}

.hide {
  display: none;
}
.upside_down {
  transform: scaleY(-1);
}

.btn_container {
  position: absolute;
  left: 0;
  right: 0;
  top: 35%;
}
.game_title {
  text-align: center;
  font-size: 70px;
  margin: 35px;
}
.start_btn {
  border: none;
  display: flex;
  text-align: center;
  cursor: pointer;
  /* text-transform: uppercase; */
  outline: none;
  overflow: hidden;
  position: relative;
  color: #fff;
  font-family: 'overwatch';
  /* font-weight: 700; */
  font-size: 35px;
  background-color: #222;
  padding: 17px 60px;
  margin: 0 auto;
  box-shadow: 0 5px 15px rgba(0,0,0,0.40);
}
.start_btn span {
  position: relative; 
  z-index: 1;
}
.start_btn:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 490%;
  width: 140%;
  /* background: #78c7d2; */
  background: orange;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
  transform: translateX(-98%) translateY(-25%) rotate(45deg);
}
.start_btn:hover:after {
  -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
  transform: translateX(-9%) translateY(-25%) rotate(45deg);
}

.game {
  height: 100%;
}
.game_area {
  width: 100%;
  height: 100%;
  background: linear-gradient(-45deg, #37C6FF, #CDF0FF, #91E0FF, #0072A0);
  background-repeat: no-repeat;
  background-size: 400% 400%;
  animation: backgroundChange 20s ease-in-out infinite;
  overflow: hidden;
}
@keyframes backgroundChange {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.game_message {
  position: fixed;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  padding: 15%;
  text-align: center;
  background-color: rgba(0,0,0,0.6);
  font-weight: 600;
  font-size: 6em;
  color: rgb(251, 0, 52);
  /* text-shadow: 3px 3px 3px gray; */
  cursor: pointer;
}


.mercy {
  position: absolute;
  top: 100px;
  left: 50px;
  background-image: url("/assets/images/mercy.png");
  /* width: 289px;
  height: 246px; */
  width: 145px;
  height: 123px;
  background-size: cover;
}
.wing {
  position: absolute;
  top: 15px;
  left: -20px;
  background-image: url("/assets/images/wing.png");
  /* width: 583px;
  height: 285px; */
  width: 97px;
  height: 48px;
  background-size: cover;
}

.score {
  position: fixed;
  top: 1em;
  left: 0;
  right: 0;
  color: orangered;
  text-align: center;
  height: 50px;
  font-size: 2em;
}

/* .pipe {
  position: absolute;
  background-color: #2CB01A;

} */

.pipe {
  position: absolute;
  /* bottom: 0; */
  /* left: 50%; */
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.5);
  background: linear-gradient(
    to right,
    #579C66,
    #579C66 3px,
    #6DAD7B 8px,
    #E9ffE8 17px,
    #9DD591 25px,
    #6BB765 50px,
    #142E16 100%
  );
}
/* 파이프 목 이음 부분 */
.pipe::before {
  content: '';
  position: absolute;
  z-index: 1;
  left: -5px;
  height: 4px;
  width: 110px;
  border-radius: 3px 3px 0 0;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.1) 98%,
    rgba(255, 255, 255, 0.1) 100%
  );
}
/* 파이프 머리 */
.pipe::after {
  content: '';
  position: absolute;
  left: -5px;
  height: 25px;
  width: 110px;
  border-radius: 3px;
  border-bottom: 4px solid rgba(0, 0, 0, 0.4);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
  background: linear-gradient(
    to right,
    #579C66,
    #579C66 3px,
    #6DAD7B 9px,
    #E9FFE8 18px,
    #9DD591 27px,
    #6BB765 52px,
    #142E16 100%
  );
}